<!DOCTYPE html><html><head><meta charset="utf-8"><style>
body { font-family: 'Times New Roman'; font-size: 10.5pt; color: #111; }
h3 { text-align: center; font-size: 12pt; margin-bottom: 16px; }
td { vertical-align: top; padding-bottom: 7px; } p { text-align: justify; margin-top: 10px; margin-bottom: 10px; }
</style></head><body>
{{demo_banner}}
<h3>{{office}}</h3>
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td width="29%"><b><u>DOSYA NO</u></b></td><td>: {{case_number}} E.</td></tr>
<tr><td><b><u>İTİRAZ VE BEYANDA<br>BULUNAN ÜÇÜNCÜ KİŞİ</u></b></td><td>: <b>{{recipient}}</b></td></tr>
<tr><td><b><u>VEKİLİ</u></b></td><td>: {{lawyer}}<br><i>{{lawyer_address}}</i></td></tr>
<tr><td><b><u>ALACAKLI</u></b></td><td>: {{creditor}}</td></tr>
<tr><td><b><u>BORÇLU</u></b></td><td>: {{debtor}}<br>TCKN/VKN: {{debtor_id}}</td></tr>
<tr><td><b><u>TEBLİĞ TARİHİ</u></b></td><td>: {{service_date}}</td></tr>
<tr><td><b><u>KONU</u></b></td><td>: Müvekkil Şirket’e tebliğ edilen birinci haciz ihbarnamesine karşı itiraz ve beyanlarımızın sunulmasından ibarettir.</td></tr>
</table>
<p><b><u>AÇIKLAMALARIMIZ</u></b></p>
{{paragraphs}}
<p align="center" style="text-align:center"><b>İtiraz ve Beyanda Bulunan Üçüncü Kişi<br>{{recipient}}<br>Vekili<br>{{lawyer}}</b></p>
</body></html>
